/* reset */
* { margin:0; padding:0; box-sizing:border-box; }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    
}

/* ----- Lado esquerdo ----- */
.left-side {
    background-color: #2A6DB0;
    color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.left-side .logo img {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.left-side p {
    max-width: 350px;
    font-size: 1.1rem;
    line-height: 1.5;
}

/* ----- Lado direito ----- */
.right-side {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.right-side h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
}

/* ----- Formulário ----- */
form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #333;
    font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #2A6DB0;
    outline: none;
}

button {
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 600;
    transition: background-color 0.3s, opacity 0.3s;
}

.sign-in-btn {
    background-color: #2A6DB0;
    color: white;
}

.sign-in-btn:hover {
    background-color: #1f5a8d;
}
