@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&display=swap');

:root {
  --white: #fff;
  --red: #aa0505;
  --gray: #959595;
  --blue: #56c5db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Foi retirado ---body,--- Esta empurando a fonte em outros lugar*/
body, button, input, textarea {
  font: 400 16px "Roboto", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/*Estruturação*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colunas de produtos */
  gap: 16px; /* Espaçamento entre os produtos */
  width: 900px; /* Largura ajustada para acomodar os produtos */
  padding: 16px;
  margin-left: 0; /* Alinha à esquerda */
}

/* Carrinho de compras */
.container_carrinho {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: 500px; /* Ajuste a largura conforme necessário */
  padding: 16px;
  position: fixed;
  top: 0; /* Fixa ao topo da página */
  right: 10px; /* Alinha ao lado direito da página */
}
.section-title {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin: 50px 24px; /* Centraliza o título e adiciona espaçamento abaixo */
  width: 900px; /* Mesma largura da .container */
  padding: 35px 0; /* Espaçamento superior e inferior */
}

.section-title-carrinho{
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
  /*-----------------------------------------*/
  margin: 50px -250px; /* Centraliza o título e adiciona espaçamento abaixo */
  width: 900px; /* Mesma largura da .container */
  padding: 16px 0; /* Espaçamento superior e inferior */
}

.about-movie-image {
  float: left;
  border-radius: 8%;
  margin: 0 20px 10px 0;
  width: 200px;
  height: auto;
}

.section-description {
  color: #777;
}

.section-description + .section-description {
  margin-top: 16px;
}

/* loja.html */
.normal-section + .normal-section {
  margin-top: 80px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Ou space-between conforme sua necessidade */
  gap: 20px; /* Espaçamento entre os produtos */
  margin-top: 20px;
}

.movie-product {
  flex: 1 1 200px; /* Ajusta a largura mínima dos produtos */
  max-width: 220px; /* Define a largura máxima para os produtos */
  margin: 10px;
  background-color: #fff;
  color: black;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}


.product-image {
  width: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;/*Para centralizadr no card*/
  margin: 0 auto;
}

.product-title {
  font-size: 20px;
  margin-top: 10px;
}

.product-price-container {
  margin-top: 5px;
}

.product-price {
  font-size: 25px;
  color: #333;
}

.button-hover-background {
  font-size: 17px;
  padding: 10px 20px; /* Ajustei o padding para caber melhor */
  background-color: #ff0000;
  color: #fff;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s; /* Apliquei a transição corretamente */
  
}


/*Butao esta ok*/
.button-hover-background {
    /*font-size: 17px;*/
    font-size: auto;
    padding: 2px 60px;
    background-color:#ff0000;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.5s background;
    cursor: pointer;

  transition: 0.2s;
}

.button-hover-background:hover {
    transition: 0.5s background;
    background-color:#aa0505;
}

/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.cart-product td {
  padding: 8px 0;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.purchase-button {
  display: flex;
  margin: 24px auto 0;
  background: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

  transition: filter 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);
}

/* Responsividade */
@media (max-width: 584px) {
  .movie-title-large {
    font-size: 36px;
  }

  .schedule-item {
    flex-wrap: wrap;
    text-align: center;
  }

  .schedule-item + .schedule-item {
    margin-top: 12px;
  }

  .show-date,
  .show-place {
    width: 32%;
    padding: 4px;
  }

  .show-city {
    width: 33%;
    padding: 4px;
  }

  .buy-ticket-button {
    width: 60%;
    margin-top: 12px;
    padding: 12px 2px;
  }


  .products-container {
    justify-content: center;
  }

  .product-identification {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-product-title {
    margin-top: 6px;
  }

  .product-qtd-input {
    display: block;
    margin: 0 auto;
  }

  .remove-product-button {
    display: block;
    margin: 8px auto 0;
  }
}

@media (max-width: 470px) {
  .about-movie-image {
    width: 160px;
  }

  .main-footer-container {
    flex-direction: column;
  }

  .movie-title-medium {
    margin-bottom: 16px;
  }
}


.customer-name-container {
  margin-bottom: 20px; /* Espaço abaixo do campo de nome */
  text-align: center; /* Centraliza o rótulo e o campo de entrada */
}

.customer-name-container label {
  display: block; /* Para que o rótulo fique em uma linha separada */
  font-weight: bold; /* Para destacar o rótulo */
}

.customer-name-input {
  width: 100%; /* Faz com que o campo de entrada ocupe toda a largura disponível */
  padding: 10px; /* Espaçamento interno */
  border: 2px solid var(--blue); /* Cor da borda */
  border-radius: 6px; /* Bordas arredondadas */
  margin-top: 5px; /* Espaço acima do campo de entrada */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px; /* Sombra leve */
}
.campo {
  margin-bottom: 20px;
}

.campo label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.campo input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
