/* Essa e a parte de vai ser como padaro no CABEÇALHO de todo o SITE*/
nav {
    background-color: #2A6DB0;
    padding: 15px;
    position: absolute; /* Fixa o menu em uma posição específica */
    left: 0; /* Alinha o menu à esquerda */
    top: 0;  /* Coloca o menu no topo da página */
    height: 96.3vh; /* Faz com que o menu ocupe toda a altura da tela */
    width: 200px; /* Define a largura do menu */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: block; /* Exibe cada item do menu em uma linha nova */
    margin-bottom: 10px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 20px;
    display: block; /* Faz com que o link ocupe toda a largura do item de menu */
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1f507a;
    border-radius: 5px;
}

/* esse e o fim da estilização do cabeçalho*/

/* Estilo do botão Sair */
button.sair {
    font-family: Arial, sans-serif;
    padding: 10px 60px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 1px; /* Botão no final do menu */
    left: 0;
    font-size: 1.5em; /* Tamanho da fonte */
    font-weight: bold;/* Negrito */
}

button.sair:hover {
    background-color: #d14343;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    height: 100vh;
    position: relative;
}

b {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Largura do quadrado */
    text-align: center;
    position: absolute; /* Permite posicionamento livre */
    top: 50px; /* Ajusta a posição a partir do topo */
    left: 500px; /* Ajusta a posição a partir da esquerda */
}

h1 {
    margin-bottom: 20px;
    font-size: 2.2em;
    
}

p {
    font-size: 1.5em;
    color: #333;
    
}
