/*---------------------------------------*/
/*       Com a LOGO no cabecalho        */
/*--------------------------------------*/
nav {
    background-color: #2A6DB0;
    padding: 15px;
    width: 100%; /* Faz o cabeçalho ocupar 100% da largura */
    position: fixed; /* Fixa o menu na parte superior da tela */
    top: 0; /* Garante que o menu fique no topo */
    left: 0; /* Alinha o menu à esquerda */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
}
nav ul {
    list-style-type: none;
    padding: 0; /* Remover o padding da lista */
    margin: 0;  /* Remover a margem da lista */
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1f507a;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul a img.logo {
    width: 300px;
    position: absolute; /* Posicionamento absoluto */
    top: -32px; /* Posição do topo da página */
    left: -5px; /* Posição do lado esquerdo */
    /* Você pode alterar os valores de top, left, right, bottom para colocar a logo onde quiser */
}
/* esse e o fim da estilização do cabeçalho*/
